<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Chanfle Taqueria{% endblock %}</title>        
        <link rel="icon" type="image/x-icon" href="{{ asset('bundles/chanfle/img/favicon.ico') }}" />        
        {% block stylesheets %}
            <link href="{{ asset('bundles/chanfle/css/bootstrap.css') }}" rel="stylesheet" />            
            <link href='{{ asset('bundles/chanfle/css/estilos.css') }}' rel='stylesheet' type='text/css'>
            <link href='{{ asset('bundles/chanfle/css/animate.css') }}' rel='stylesheet' type='text/css'>
            <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
            <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('bundles/chanfle/js/jquery.js') }}"></script>
            <script src="{{ asset('bundles/chanfle/js/bootstrap.js') }}"></script>            
        {% endblock %}
    </head>

    <body>
        <div class="container animated bounce roboto">
            <div class="row">
                <div align="center">
                    <img src="{{ asset('bundles/chanfle/img/logo.png') }}" alt="LogoChanfle" height="200" width="200"/>
                </div>
            </div>

            <div class="row">
                <!-- Navegacion -->
                <nav class="navbar navbar-default">
                    <div class="container-fluid">                     
                        <div class="navbar-header">                            
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <!--<span class="sr-only">Toggle navigation</span>-->
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>                           
                        </div>

                        <div id="navbar" class="collapse navbar-collapse">
                            <ul class="nav nav-justified">
                                <li class="active"><a href="{{ path('index') }}"><span class="glyphicon glyphicon-home"></span> Inicio</a></li>
                                <li><a  href="{{ path('historia') }}"><span class="glyphicon glyphicon-header"></span> Historia</a></li>
                                <li><a  href="{{ path('productos') }}"><span class="glyphicon glyphicon-cutlery"></span> Productos</a></li>
                                <li><a  href="{{ path('clientes') }}"><span class="glyphicon glyphicon-user"></span> Clientes</a></li>
                                <li><a  href="{{ path('contacto') }}"><span class="glyphicon glyphicon-map-marker"></span> Contacto</a></li>
                            </ul>
                        </div>
                    </div>
                </nav> <!-- Fin navegacion -->
            </div>
        </div> <!-- /Container -->
        <br>

        <div class="container" style="padding-left: 45px; padding-right: 45px;">
            {% block body %}
            {% endblock %}

            <div class="row">
                <footer class="footer">
                    <p>&copy; 2016 Chanfle Taqueria. Palmira (Colombia) | 
                        Desarrollado por: <a href="{{ path('acercade') }}">GD</a>
                    </p>
                </footer>
            </div>
        </div>  

    </body>
</html>
