<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Chanfle Taqueria{% endblock %}</title>        
        <link rel="icon" type="image/x-icon" href="{{ asset('bundles/chanfle/img/favicon.ico') }}" />        
        {% block stylesheets %}
            <link href="{{ asset('bundles/chanfle/css/bootstrap.css') }}" rel="stylesheet" />            
            <link href='{{ asset('bundles/chanfle/css/estilos.css') }}' rel='stylesheet' type='text/css'>
            <link href='https://fonts.googleapis.com/css?family=Cabin:500' rel='stylesheet' type='text/css'>
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('bundles/chanfle/js/jquery.js') }}"></script>
            <script src="{{ asset('bundles/chanfle/js/bootstrap.js') }}"></script>            
        {% endblock %}
    </head>

    <body>
        <div class="container">
            <div class="masthead">
                
                <div align="center">
                    <img src="{{ asset('bundles/chanfle/img/logo.jpg') }}" alt="LogoChanfle" height="200" width="200"/>
                </div>

                <!-- Navegacion -->
                <nav class="navbar-default">
                    <div class="container-fluid">                        
                        <div class="navbar-header">                            
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                              <!--<span class="sr-only">Toggle navigation</span>-->
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                            </button>                           
                        </div>
                        
                        <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav nav-justified">
                                <li class="active"><a href="{{ path('index') }}">INICIO</a></li>
                                <li><a href="{{ path('historia') }}">HISTORIA</a></li>
                                <li><a href="{{ path('productos') }}">PRODUCTOS</a></li>
                                <li><a href="{{ path('clientes') }}">CLIENTES</a></li>
                                <li><a href="{{ path('contacto') }}">CONTACTO</a></li>
                            </ul>
                        </div>
                    </div>
                </nav> <!-- Fin navegacion -->
                        
                {% block body %}{% endblock %}  
                
            </div> <!-- /masthead /Contenedor Nav y Carrusel --> 
            
            <footer class="footer">
                <p>&copy; 2016 Chanfle Taqueria. Palmira (Colombia) | 
                    Desarrollado por: <a href="{{ path('acercade') }}">GD</a>
                </p>
            </footer>
        </div> <!-- /Container -->
    </body>
</html>
